/*

Theme Name: Salesrox
Theme URI: http://salesrox.com
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: salesrox
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Framework v1)
--------------------------------------------
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: gblack;
    src: url('fontes/gblack.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: gbold;
    src: url('fontes/gbold.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: gmedium;
    src: url('fontes/gmedium.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: glight;
    src: url('fontes/glight.otf');
    font-style: normal;
    font-weight: normal;
  }

/* BODY */
  body{
  
  }

/* TOPO */
  header{
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
  }
  .topo{
    width: 100%;
    padding: 0 45px;
    position: fixed;
    padding-top: 54px;
    z-index: 3;
  }
  .topo.thin{
    padding: 10px 45px 31px;
    background: #fff;
  }
    .topo a{
      width: 100%;
      max-width: 188px;
      display: block;
    }
      .topo a img{
        width: 100%;
        height: auto;
      }
    .topo .language{
      position: relative;
    }
      .topo .language ul{
        width: 100%;
        max-width: 110px;
        position: absolute;
        right: 0;
        list-style: none;
        margin:0;
        padding:0;
      }
        .topo .language ul li{
          display: none;
          border: 1px solid #000;
          text-align: left;
          font-size: 21px;
          font-family: glight;
          transition: ease-in-out .4s;
          -webkit-transition: ease-in-out .4s;
          -moz-transition: ease-in-out .4s;
          -o-transition: ease-in-out .4s;
          cursor:pointer;
          padding: 5px;
        }
          .topo .language ul li ul{
            list-style: none;
            margin:0;
          }
            .topo .language ul li ul li{
              padding: 5px;
              margin-top: 4px;
            }
          .topo .language ul li a{
            text-decoration: none;
            color: #000;
          }
            .topo .language ul li a span{

            }
              .topo .language ul li a span img{
                width: 100%;
                height: auto;
                max-width: 32px;
              }
        .topo .language ul li.selected{
          display: block;
          transition: ease-in-out .4s;
          -webkit-transition: ease-in-out .4s;
          -moz-transition: ease-in-out .4s;
          -o-transition: ease-in-out .4s;
        }
        .topo .language ul li.selected:after{
          content: "\f0dd";
          font-family: FontAwesome;
          font-style: normal;
          position: absolute;
          top: 5px;
          right: 10px;
        }
        .topo .language ul li.selected:hover ul li{
          display: block;
        }
          .topo .language ul li.selected span{

          }
            .topo .language ul li.selected span img{
              width: 100%;
              height: auto;
              max-width: 32px;
            }

/*RODAPÉ*/
  footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 70px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
  } 
    footer .tituloFormulario{

    }
      footer .tituloFormulario h1{
        font-family: gblack;
        font-size: 38px;
        margin: 20px 0 0;
      }
        footer .tituloFormulario h1 strong{

        }
        footer .tituloFormulario p{
          font-family: glight;
          font-size: 24px;
          margin: 5px 0 15px;
        }
    footer .copyright{

    }
       footer .copyright p{
        margin: 0;
        padding-top: 100px;
        font-family: glight;
        font-size: 21px;
       }
         footer .copyright p i{
          font-family: FontAwesome;
          font-style: normal;
          padding: 0 4px;
         }
    
/*PG*/
  .pg{

  }

/*PÁGINA INICIAL*/
  .pg-inicial{
    background: #fff;
    z-index: 2;
    margin-bottom: 520px;
    position: relative;
    padding-bottom: 70px;
  }
    .pg-inicial .inicial{
      background: url(../img/topo.png);
      background-position: 50px 10px;
      background-repeat: no-repeat;
      background-attachment: fixed;
      width: 100%;
      min-height: 350px;
      padding-top: 159px;
    }
      .pg-inicial .inicial .textoInicial{
       font-family: gmedium;
       text-align: center;
       padding-top: 80px;
      } 
        .pg-inicial .inicial .textoInicial h2 {
          font-size: 39px;
        }
        .pg-inicial .inicial .textoInicial h2 strong{
          font-family: gblack;
        }
        .pg-inicial .inicial .textoInicial p{
           width: 100%;
           max-width: 870px;
           margin: 20px auto 30px;
           font-family: glight;
           font-size: 23px;
           font-weight: 600;
        }
        .pg-inicial .inicial .textoInicial p strong{
          font-family: gmedium;
        }

    .pg-inicial .scrollDown{
      width: 100%;
      min-height: 50px;
      text-align: center;
      margin: 65px auto;
    }
      .pg-inicial .scrollDown a{
        background: url(../img/scrollDown.png);
        display: block;
        width: 52px;
        height: 61px;
        background-size: cover!important;
        background-position: center!important;
        margin: 0 auto;
        cursor: pointer;
        text-decoration: none;
      }
    .pg-inicial .comoFunciona{

    }
      .pg-inicial .comoFunciona .textoComoFunciona{
        padding: 0 20px 0 0px;
      }
        .pg-inicial .comoFunciona .textoComoFunciona h3{
          font-family: gblack;
          font-weight: bold;
          font-size: 36px;
          margin-bottom: 40px;
        }
        .pg-inicial .comoFunciona .textoComoFunciona h3 strong{

        }
        .pg-inicial .comoFunciona .textoComoFunciona p{
          font-family: glight;
          font-size: 23px;
          font-weight: bold;
        }
        .pg-inicial .comoFunciona .textoComoFunciona p strong{
          font-family: gmedium;
          font-weight: bold;
        }
      .pg-inicial .comoFunciona .vantagesSalesrox{
        border-left: 1px solid #000;
        padding-left: 70px;
      }
        .pg-inicial .comoFunciona .vantagesSalesrox h2{
          font-family: gblack;
          font-weight: bold;
          font-size: 26px;
          margin-bottom: 40px;
        }
        .pg-inicial .comoFunciona .vantagesSalesrox .vantagens{

        }
          .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul{
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0;
          }
            .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li{
              display: inline-block;
              width: 50%;
              margin: 30px 0;
              padding: 0 30px;
              vertical-align: top;
            }
              .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article{

              }
                .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque{
                  width: 100%;
                  text-align: center;
                  min-height: 163px;
                }
                  .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque img{
                    width: 100%;
                    height: auto;
                    max-width: 150px;
                  }
              .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1{
                text-align: center;
                font-size: 27px;
                font-family: gmedium;
                font-weight: 100;
                width: 100%;
                max-width: 174px;
                line-height: 28px;
              }

/*EXTRAS*/
  ::-webkit-input-placeholder {
    color: #000;
  }
  :-moz-placeholder {
    color: #000;
  }
  ::-moz-placeholder {
    color: #000;
  }
  :-ms-input-placeholder {
    color: #000;
  }
  body::-webkit-scrollbar{ 
    background: #fff;
    width: 5px;

  }
  body::-webkit-scrollbar-button{ 
   background: #000;
  }
  body::-webkit-scrollbar-track{ 
    

  }
  body::-webkit-scrollbar-track-piece {
   }
  body::-webkit-scrollbar-thumb{ 
    background: #000;
  }
  body::-webkit-scrollbar-corner  { /* 6 */ }
  body::-webkit-resizer{

  }
      .formularioContato{
      margin-top: 40px;
      text-align: center;
    }
      .formularioContato input{
        border: 1px solid #848484;
        background: #f1f1f1;
        padding: 15px 3px;
        outline: none;
        font-family: glight;
        font-size: 19px;
        font-weight: 600;
        color: #000;
        margin-right: 5px;
      }
      .formularioContato button{
        border: none;
        outline: none;
        padding: 10px 10px;
        background: #4b7bc6;
        color: #fff;
        font-family: gmedium;
        font-size: 24px;
        border-bottom: 5px solid #38489e;
        position: relative;
        margin-top: 20px;
      }
        .formularioContato button span{
          margin-left: 17px;
        }
      .formularioContato button:before{
        content: '';
        width: 2px;
        background: #38489e;
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 53px;
      }
        .formularioContato button img{
          width: 100%;
          height: auto;
          max-width: 31px;
        }

/*@MEDIA QUERY*/
  @media(max-width: 1367px){
    .pg-inicial .inicial {
      padding-top: 49px;
    }
    .formularioContato button{
      margin-top: 20px;
    }
    .pg-inicial .inicial .textoInicial p{
      font-size: 21px;
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 35px;
    }
    .topo {
      padding-top: 15px;
    }
    .formularioContato input {
      padding: 10px 7px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona h3 {
      font-size: 30px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona p {
      font-size: 20px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox h2 {
      font-size: 23px;
    }
    footer .tituloFormulario h1 {
      font-size: 35px;
    }
    footer .tituloFormulario p {
      font-size: 21px;
    }
  }
  @media(max-width: 1200px){
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 30px;
    }
    .pg-inicial .inicial .textoInicial p {
      font-size: 18px;
    }
    .formularioContato {
      margin-top: 31px;
    }
    .formularioContato button{
      font-size: 21px;
    }
    footer .copyright p {
      padding-top: 50px;
      font-size: 19px;
    }
    footer .tituloFormulario h1 {
      font-size: 32px;
    }
    footer .tituloFormulario p {
      font-size: 20px;
    }
  }

  @media(max-width: 991px){
    .pg-inicial .inicial{
      background:url('');
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 25px;
    }
    .pg-inicial .inicial .textoInicial p {
      font-size: 16px;
    }
    .formularioContato input {
      padding: 10px 6px;
      font-size: 16px;
    }
    .formularioContato button:before {
      left: 46px;
    }
    .formularioContato button {
      font-size: 17px;
    }
    .formularioContato button img {
      max-width: 25px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona {
      padding: 20px 0;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox {
      padding:0;
      border:none;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque img {
      max-width: 115px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque {
      min-height: 118px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1 {
      max-width: 100%;
      font-size: 23px;
    }
    footer .formularioContato input {
      font-size: 17px;
    }
    footer .tituloFormulario h1 {
      font-size: 30px;
    }
    footer .tituloFormulario p {
      font-size: 18px;
    }
  }
  @media(max-width: 767px){
    .topo .language ul {
      top: -30px;
    }
    .topo .language ul li ul {
      top: initial;
      background: #fff;
    }
    .topo .language ul li ul li {
      margin-top: 0;
    }
    .topo{
      padding: 20px 45px 30px;
      background: #fff;
    }
    .topo a {
      max-width: 149px;
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 20px;
    }
    .pg-inicial .inicial .textoInicial p {
      font-size: 15px;
    }
    .formularioContato input {
      font-size: 13px;
    }
    .pg-inicial .inicial .textoInicial {
      padding-top: 37px;
    }
    .formularioContato button {
      font-size: 15px;
    }
    .pg-inicial .inicial .textoInicial p{
      font-size: 14px;
    }
    .formularioContato input {
      display: block;
      margin: 10px 0;
      width: 100%;
      font-size: 14px;
    }
    .pg-inicial .inicial .textoInicial h2 {
      font-size: 19px;
    }
    .formularioContato button {
      width: 100%;
      margin-top: 10px;
    }
    .formularioContato button img{
      position: absolute;
      left: 11px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona h3 {
      font-size: 27px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona p {
      font-size: 18px;
    }
    .pg-inicial .scrollDown {
      margin: 40px auto 10px;
    }
    footer .tituloFormulario h1 {
      font-size: 23px;
    }
    footer .tituloFormulario p {
      font-size: 15px;
    }
    footer{
      padding: 70px 0 30px;
    }
    .topo.thin{
      padding: 10px 45px 20px;
    }
    footer .copyright p {
      padding-top: 50px;
      font-size: 16px;
    }
  }

  @media(max-width: 610px){
    .pg-inicial .comoFunciona .textoComoFunciona p {
     font-size: 18px;
     margin: 30px 0;
    }
    .pg-inicial .comoFunciona .textoComoFunciona h3 {
      margin-bottom: 30px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li {
      width: 100%;
    }
  }

  @media(max-width: 445px){
    .topo .language ul li{
      font-size: 19px;
      padding: 2px 5px;
    }
    .topo .language ul li span img, .topo .language ul li.selected span img {
      max-width: 29px;
      margin-top: -4px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox h2 {
      font-size: 20px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque {
      min-height: 80px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article figure.imagemDestaque img {
      max-width: 95px;
    }
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1 {
      font-size: 21px;
    }
    .pg-inicial .comoFunciona .textoComoFunciona p {
      font-size: 16px;
    }
  }
  @media(max-width: 425px){
    .topo .language ul {
      top: -25px;
      right: -25px;
    }
    .topo a {
      max-width: 114px;
    }
    .topo .language ul li ul {
      right: 0;
    }
    .formularioContato button img{
      display: none;
    }
    .formularioContato button span {
      margin-left: 0;
    }
    .formularioContato button:before{
      display: none;
    }
    .pg-inicial .comoFunciona .textoComoFunciona p {
      font-size: 15px;
    }
  }
  @media(max-width: 320px){
    .pg-inicial .comoFunciona .vantagesSalesrox .vantagens ul li article h1 {
      font-size: 20px;
    }
  }

.containerFull{
  width: 95%;
  max-width: 1200px;
  margin:0 auto;
  padding: 0 10px;
}